* {
  box-sizing: border-box;
}
.contact-item {
  background-color: #ebe6d9;
  border: 1px solid black;
  margin-bottom: 10px;
  min-width: 200px;
  max-width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.contact-item.edit-now {
  background-color: cadetblue;
}
.delete-btn {
  border: 1px solid black;
  min-height: 25px;
  min-width: 25px;
  text-align: center;
  margin: auto;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.562);
  color: white;
}
.content {
  min-width: 300px;
  margin-right: 50px;
  font-size: 20px;
}
